<div
  class="full-bleed border-y border-blue-100 bg-gradient-to-r from-blue-50 via-zinc-50 to-indigo-50 py-10 dark:border-blue-950 dark:from-blue-950/35 dark:via-zinc-900 dark:to-indigo-950/35"
>
  <div
    class="mx-[var(--actual-inline-margin)] [&>:first-child]:mt-0 [&>:last-child]:mb-0"
  >
    <slot />
  </div>
</div>
